@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 overflow: hidden;
 height: 100vh;
 user-select: none;
}

canvas {
 --angle: 45deg;
background: linear-gradient(var(--angle), oklab(25% -0.009 -0.168), oklab(23.6% 0.079 -0.088))
}
